body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-weight: bold;
    font-family: Arial;
}
p {
    margin: 8px;
}

.All-section {
    display: grid;
    vertical-align: middle;
    justify-content: center;
}

.calculator {
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

.display {
    display: flex;
    vertical-align: middle;
    justify-content: end;
}

.result {
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 15px;
}

button {
    height: 60px;
    width: 60px;
    border: 3px solid white;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    font-size: 26px;
    font-weight: bold;
    font-family: Arial;
    cursor: pointer;
}

.operator-button {
    background-color: rgb(255, 160, 10);
    border: none;
}

.clear-button {
    width: 250px;
    background-color: orange;
    font-size: 30px;
    border: none;
}