.cost-input {
    padding: 10px;
}

.calculate-button {
    padding: 12px 15px 12px 15px;
    background-color: rgb(20, 130, 20);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.error-message {
    color: red;
}