.toggle-button {
    color: black;
    background-color: lightgray;
    border: none;
    border-radius: 4px;
    padding: 10px 14px 10px 14px;
    margin: 6px;
    cursor: pointer;
}

.is-toggled {
    color: white;
    background-color: black;
}